article {
  padding: 1rem 2rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
}

article img {
  width: 100%;
}

article .ctx {
  line-height: 2;
}

article .ctx::first-letter {
  text-transform: uppercase;
  font-size: 8rem;
  float: left;
  line-height: 1em;
  padding: 0 1rem;
  color: lightgray;
}

article h3 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

article .actions {
  display: flex;
  margin: 3rem 0 2rem;
}

article .actions a {
  color: tomato;
  font-weight: bold;
  margin-left: auto;
}
