.header {
  padding: 1rem 2rem;
}

.header h1 {
  color: tomato;
}

.header .nav-list a {
  color: lightgray;
  text-decoration: underline;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
}

.nav-list a {
  cursor: pointer;
  font-size: 1.2rem;
}

.footer {
  padding: 1rem 2rem;
}

.footer .copy {
  color: lightgray;
}

.footer .nav-list a {
  color: tomato;
}

article {
  padding: 1rem 2rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
}

article img {
  width: 100%;
}

article .ctx {
  line-height: 2;
}

article .ctx::first-letter {
  text-transform: uppercase;
  font-size: 8rem;
  float: left;
  line-height: 1em;
  padding: 0 1rem;
  color: lightgray;
}

article h3 {
  font-size: 2rem;
  margin: 1.5rem 0;
}

article .actions {
  display: flex;
  margin: 3rem 0 2rem;
}

article .actions a {
  color: tomato;
  font-weight: bold;
  margin-left: auto;
}
